<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All" verbose="1" >
    <test name="common" preserve-order="true">
        <classes>
            <class name="com.mingyizhudao.qa.tc.GetEmployeeProfile" />
            <class name="com.mingyizhudao.qa.tc.HospitalSearch" />
            <class name="com.mingyizhudao.qa.tc.ProfessionList" />
            <class name="com.mingyizhudao.qa.tc.GetDiseasesInCategory" />
        </classes>
    </test>
    <test name="doctoruser" preserve-order="true" >
        <classes>
            <class name="com.mingyizhudao.qa.tc.GetDoctorProfile"  />
            <class name="com.mingyizhudao.qa.tc.UpdateDoctorProfile" />
        </classes>
    </test>
    <test name="login" preserve-order="true">
        <classes>
            <class name="com.mingyizhudao.qa.tc.SendVerifyCode" />
            <class name="com.mingyizhudao.qa.tc.CheckVerifyCode" />
            <class name="com.mingyizhudao.qa.tc.Refresh" />
        </classes>
    </test>
    <test name="trade" preserve-order="true">
        <classes>
            <class name="com.mingyizhudao.qa.tc.CreateOrder" />
            <class name="com.mingyizhudao.qa.tc.GetOrderList" />
            <class name="com.mingyizhudao.qa.tc.GetUploadToken" />
            <class name="com.mingyizhudao.qa.tc.GetOrderDetail" />
            <class name="com.mingyizhudao.qa.tc.UpdateMedicalRecords" />
        </classes>
    </test>
</suite> 