<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All" verbose="1" >
    <!--<test name="profile" >-->
        <!--<classes>-->
            <!--<class name="com.mingyizhudao.qa.tc.doctor.GetDoctorProfile"  />-->
            <!--<class name="com.mingyizhudao.qa.tc.doctor.GetEmployeeProfile" />-->
            <!--<class name="com.mingyizhudao.qa.tc.doctor.HospitalSearch" />-->
            <!--<class name="com.mingyizhudao.qa.tc.doctor.ProfessionList" />-->
            <!--<class name="com.mingyizhudao.qa.tc.doctor.UpdateDoctorProfile" />-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="login" >-->
        <!--<packages>-->
            <!--<package name="com.mingyizhudao.qa.tc.login" />-->
        <!--</packages>-->
    <!--</test>-->
</suite> 