<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All" verbose="1" >
    <!--<test name="profile" >-->
        <!--<classes>-->
            <!--<class name="com.mingyizhudao.qa.testcasestcase.doctor.GetDoctorProfile_V1"  />-->
            <!--<class name="com.mingyizhudao.qa.testcasestcase.doctor.GetEmployeeProfile" />-->
            <!--<class name="com.mingyizhudao.qa.testcasestcase.doctor.HospitalSearch" />-->
            <!--<class name="com.mingyizhudao.qa.testcasestcase.doctor.ProfessionList" />-->
            <!--<class name="com.mingyizhudao.qa.testcasestcase.doctor.UpdateDoctorProfile_V1" />-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="login" >-->
        <!--<packages>-->
            <!--<package name="com.mingyizhudao.qa.testcasestcase.login" />-->
        <!--</packages>-->
    <!--</test>-->
</suite> 